# Set default behavior to automatically normalize line endings
* text=auto eol=lf

# Explicitly declare text files you want to always be normalized and converted to LF on checkout
*.js text eol=lf
*.json text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf
LICENSE text eol=lf

# Declare binary files (will not be modified by Git)
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.zip binary
*.crx binary
